* {

    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    color: aqua;
}

.logo {
    letter-spacing: 4px;
    margin-top: 13px;
    margin-right: 500px;
}

.back {
    opacity: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #23232e;
    height: 80px;
}

main {
    background: url(back111.jpg) no-repeat center center ;
    background-size: cover;
    height: 100%;
}

.nav-list {
    font-size: 13px;
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px; 
}

.mobile-menu {
    display: none;
    cursor: pointer;    
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;    
}

/* Menu depois que ativa o modo Mobile */
@media (max-width: 999px) {


    /* Faz sumir o scroll vertical */
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }


    /* Deixa os itens corretamente no centro e faz sumir o menu*/
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        margin-top: 2%;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {

    /* Opacidade do menu, aqui ele aparece */
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

